 
button{
    width: 120px;
    height: 32px;
    border-radius: 5px;
}
.row{
    margin-left: 35%;
}
input{
    width: 290px;
    height:30px;
}
.example-container{
    width:300px;
    padding:10px;
}   